.login-form-container {
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-wrapper {
    border: 1px solid red;
    width: 600px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}