.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  position: fixed;
  z-index: 10;
  border-bottom: 2px solid #eee;
  width: 100%;
}
.nav-links {
  display: flex;
  align-items: center;
  font-weight: 600;
  flex: 0.2;
  justify-content: space-evenly;
}
@media only screen and (max-width: 768px){
  .nav-links {
    flex: 0.6;
    /* border: 1px solid red; */
  }
}
@media only screen and (max-width: 425px) {
  .nav-links {
    flex: 0.9;
    /* border: 1px solid red; */
  }
}


