.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    position: fixed;
    z-index: 10;
    border-bottom: 2px solid #eee;
    /* background-color: blueviolet; */
    width: 100%;
}
.nav-links {
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    font-weight: 600;
    flex: 0.2;
    justify-content: space-evenly;
}
