* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --navbar-color: #fff;
}

.navbar {
  background-color: var(--navbar-color);
  display: flex;
  align-items: center;
  flex: 1;
  padding: 0 3.5rem;
  min-height: 8vh;
  position: fixed;
}

.navbar-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}

.menu-icon {
  font-size: 2rem;
  display: none;
}

.logo {
  font-weight: bolder;
  font-size: 2rem;
  padding: 0 1rem;
  margin-bottom: 0;
}

.left-nav {
  display: flex;
  align-items: center;
}

.left-nav button {
  border: none;
  padding: 0.2rem 0.4rem;
  margin: 0 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  border-radius: 5px;
}

.left-nav button:hover {
  background-color: aqua;
}

.right-nav {
  /* border: 1px solid blue; */
  display: flex;

  align-items: center;
  justify-content: end;
}

.nav-icon {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 1rem;
  cursor: pointer;
}
.nav-icon p {
  margin-bottom: 0;
  font-weight: bold;
}
#drawer-btn {
  color: black;
  padding: 0.2rem 0.6rem;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 5px;
  margin-bottom: 0.6rem;
  display: inline-block;
  width: 100%;
}

.search-bar {
  width: 30%;
}

/* For mobile */

@media screen and (max-width: 600px) {
  .navbar {
    padding: 0 0.4rem;
  }

  .navbar-wrapper {
    margin: 0;
  }
  .menu-icon {
    display: inline-block;
  }
  .left-nav button {
    display: none;
  }
  .nav-icon {
    margin: 0 0.4rem;
  }
  #avatar-icon {
    display: none;
  }
}
