@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  font-family: "Montserrat";
  height: 100vh;
  /* border: 1px solid red; */
}
.container {
   width: 80%;
   margin: auto;
   
}

@media screen and (max-width:768px ){
  .container{
    width: 100%;
  }
}
