.banner-container {
    height: 80vh;
    position: relative;
    padding-top: 8vh;
}

.banner-container img{
    height: 100%;
    width: 100%;
    object-fit: fill;
}
 
.banner-text{
    position: absolute;
    left:5%;
    top: 30%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner-text h1 {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0;
    margin-bottom: 0;
    color: #fff;
}

.text-container h3{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0;
}

 

.btn-wrapper button {
    border-radius: 0.5rem;
    padding: 0.4rem 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    border: none;
    cursor: pointer;

}

.title-text {
    padding: 0.6rem;
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    margin: 0.5rem 0;
}
.category-card {
    min-width: 150px; 
    padding: 0.4rem;
}

 

@media  screen and (max-width:600px) {
    .banner-text{
        left: 0;
        padding: 0 1rem;
    }
    .banner-text h1{
        font-size: 1.8rem;
    }
    .banner-text h3 {
        font-size: 1rem;
    }
    
}

